
* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: grey;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 8vh;
}

header>nav,
header>h1 {
    margin: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 10px;
}

.menu a {
    padding: 10px;
}

.menu a:hover {
    color: rgb(0, 0, 0);
    transition: .3s;
}

main {
    background-color: #161616;
    background-size: cover;
    height: 110vh;
    color: white;
}

section{
    max-width: 800px;
    margin: 0 auto;
}

.title {
    position: relative;
    top: 30px;
    text-align: center;
    padding: 30px;
    border: 2px solid grey;
}

.container {
    position: relative;
    top: 50px;
}

.container > div:nth-child(2) {
    padding: 10px;
}

.noticias_cont{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}

.block {
    height: 100px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    max-width: 200px;
    background-color: black;
    text-align: center;
    color: white;
}

.block:hover{
    color: rgb(76, 0, 255);
    background-color: #252525;
}

