* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: grey;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 8vh;
}

header>nav,
header>h1 {
    margin: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 10px;
}

.menu a {
    padding: 10px;
}

.menu a:hover {
    color: rgb(0, 0, 0);
    transition: .3s;
}

main {
    background-color: #252525;
    background-size: cover;
    height: 200vh;
    transition: 1s;
}

main:hover{
    background: #000;
    color: white;
}
section{
    padding: 50px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
}
.grid div:nth-child(n + 4){
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}

.grid div:nth-child(n + 5) > img:hover {
    transform: scale(1.5)
}

.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
}

.anuncio > img:hover{
    border: 1px solid white;
    transform: scale(0.999)
}